<H3>Upload File</H3>


<div class="card flex justify-content-center">

  <p-fileUpload 
      mode="basic" 
      chooseLabel="Choose" 
      chooseIcon="pi pi-upload"
      name="demo[]" 
      url="https://www.primefaces.org/cdn/api/upload.php" 
      accept="image/*" 
      [maxFileSize]="1000000" 
      (onUpload)="onUpload($event)" />
<br>
      <p-fileUpload 
      mode="basic" 
      chooseLabel="Choose auto upload" 
      chooseIcon="pi pi-upload"
      name="demo1[]" 
      url="https://www.primefaces.org/cdn/api/upload.php" 
      accept="image/*" 
      [maxFileSize]="1000000" 
      [auto]="true"
      (onUpload)="onUpload($event)" />

<br>
      <p-fileUpload 
      chooseLabel="Choose multiple upload" 
      chooseIcon="pi pi-upload"
      name="demo2[]" 
      url="https://www.primefaces.org/cdn/api/upload.php" 
      accept="image/*" 
      [maxFileSize]="1000000" 
     [multiple]="true"
      (onUpload)="onUploadMulti($event)">
    <ng-template let-file pTemplate="file">
      <div>{{file.name}} {{file.size}}</div>
    </ng-template>
    
    </p-fileUpload>
      <p-fileUpload 
      chooseLabel="Choose multiple category upload" 
      chooseIcon="pi pi-upload"
      name="demo3[]" 
      url="https://www.primefaces.org/cdn/api/upload.php" 
      accept=".txt,.pdf,.doc,.docx,.jpg,.jpeg,.png,.gif,.mp4,.avi,.mov" 
      [maxFileSize]="100000000000000000000" 
     [multiple]="true"
      (onUpload)="onUploadMultiCategory($event)">
    <ng-template let-file pTemplate="file">
      <div>{{file.name}} {{file.size}}</div>
    </ng-template>
    
    </p-fileUpload>
</div>