<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>
<div class="p-2 w-full">
  <div class="card w-full">
    <div class="card-header flex justify-between align-items-center items-center px-4">
      <p class="w-[30%] font-semibold">
        Danh sách bình luận
      </p>
      <input type="text" class="form-control w-[100%]" [(ngModel)]="searchValue" (input)="searchComments()"
        placeholder="Nhập từ khóa tìm kiếm...">

    </div>
    <div class="card-body">
      <p-table #dt1 [value]="comments" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }"
        sortMode="multiple" dataKey="key" [rows]="10" [rowsPerPageOptions]="[10,50,100,150,200]" [paginator]="true">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Ảnh</th>
            <th pSortableColumn="title" class="flex gap-x-2">Tên<p-sortIcon field="title"
                class="inline-block"></p-sortIcon></th>
            <th pSortableColumn="content">Nội dung bình luận<p-sortIcon field="content"
                class="inline-block"></p-sortIcon></th>
            <th pSortableColumn="created_at" class="text-center">Ngày bình luận<p-sortIcon field="created_at"
                class="inline-block"></p-sortIcon></th>
            <th pSortableColumn="publish" class="text-center">Trạng thái<p-sortIcon field="publish"
                class="inline-block"></p-sortIcon></th>
            <th class="text-center">Thao tác</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-comment let-i="rowIndex">
          <tr class="border-b-2">
            <td class="text-center">{{ i + 1 }}</td>
            <td class="text-center"><img class="h-[30px] w-[30px] object-cover rounded-full"
                src="{{ comment.user_image}}" alt="{{comment.title}}"></td>
            <td>{{ comment.user_name }}</td>
            <td>{{ comment.content }}</td>
            <td class="text-center">{{ comment.created_at | date:'dd/MM/yyyy HH:mm:ss' }}</td>
            <td class="text-center">
              <p-inputSwitch [(ngModel)]="comment.status" (onChange)="updateCommentStatus(comment)"></p-inputSwitch>
            </td>
            <td class="">
              <div class="flex justify-around items-center justify-items-center px-1">
                <a class="btn btn-danger me-1 rounded-xl" (click)="deleteComment(comment.key)">
                  <i class="fa-solid fa-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Không tìm thấy danh mục nào.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
