<!-- @if (post) {
  <h1>{{ post.title }}</h1>
  <p>{{ post.description }}</p>
  <div [innerHTML]="post.content"></div>-->

@if (post) {
<main id="site-main">
  <!-- Post Content -->
  <section class="container">
    <div class="layout-2 row">

        <div class="col-8">

            <article id="post">
                <!-- article heading -->
                <div class="headings text-center">
                    <div class="text-center">
                        <h2 class="text-dark text-2xl font-bold">{{ post.title }}</h2>
                    </div>

                    <div class="meta">
                        <span class="display-2 text-secondary px-1-custom">
                            <i class="fas fa-clock text-primary"></i> {{ post.created_at | date:'MMM dd' }}
                        </span>
                        <span class="display-2 text-secondary px-1-custom">
                            <i class="fas fa-comments text-primary"></i> {{post.comment_count || 0}}
                        </span>
                    </div>

                </div>

                <!-- thumbnail  -->
                <div class="thumbnail mt-3-custom">
                    <img [src]="post.image" class="thumbnail" alt="">
                </div>

                <!-- content -->
                <div class="content text-dark display-2 secondary-title mt-3-custom">
                    <div id="description" class="text-justify" [innerHtml]="(post.description ?? '') | sanitizeHtml">

                    </div>
                    <div id="content" class="text-justify" [innerHtml]="(post.content ?? '') | sanitizeHtml">
                    </div>
                </div>
            </article>

            <!-- post footer -->
            <div class="post-footer mb-3">
                <div class="post-tags d-flex flex-wrap justify-content-center">
                    <a href="#" class="nav-link btn bg-light">Travel</a>
                    <a href="#" class="nav-link btn bg-light">Food</a>
                    <a href="#" class="nav-link btn bg-light">Lifestyle</a>
                    <a href="#" class="nav-link btn bg-light">Techonogy</a>
                    <a href="#" class="nav-link btn bg-light">Fashion</a>
                </div>
                <!-- comments -->
                <div class="post-comments py-2-custom">
                    <h3 class="text-center display-1 secondary-title py-2-custom">Comments</h3>

                    <div class="comment-details">

                        <div class="comment-item py-2-custom" *ngFor="let comment of comments">
                            <div class="d-flex">
                                <div class="px-2-custom h-[100px] w-[100px]">
                                  <img [src]="comment.user_image ? comment.user_image : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZubTLhaNg3cxYbk2GcpLEpgDG0y6UdBE1Kg&s'"
                                  class="h-[100px] w-[100px] rounded-full object-cover" alt="">
                                </div>
                                <div class="comment-content">
                                    <h5 class="display-2 m-0 font-semibold"> {{comment.user_name}}</h5>
                                    <p class="title-secondary text-dark">
                                      {{comment.content}}
                                    </p>
                                    <p class="title-secondary text-dark">
                                      {{ comment.created_at | date:'dd/MM/yyyy HH:mm:ss' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- comment form -->
                    <form class="comment-form mt-3" (ngSubmit)="addComment()">
                        <textarea class="form-control h-[120px]" height="100" [(ngModel)]="newComment" name="newComment" placeholder="Message" rows="10"></textarea>
                        <div class="text-center">
                            <button class="btn btn-primary display-2 text-light mt-2 px-4 py-1" type="submit">Submit</button>
                        </div>
                    </form>
                </div>

            </div>
            <!-- .post footer -->
        </div>

        <div class="col-4">
            <aside id="sidebar" class="px-1-custom">

                <!-- categories -->
                <section class="categories">
                    <h2 class="text-center text-dark">Categories</h2>

                    <a href="#" class="d-flex justify-content-between text-dark">
                        <span>Design</span>
                        <span>5</span>
                    </a>
                    <a href="#" class="d-flex justify-content-between text-dark">
                        <span>Graphic</span>
                        <span>8</span>
                    </a>
                    <a href="#" class="d-flex justify-content-between text-dark">
                        <span>Illistration</span>
                        <span>3</span>
                    </a>
                    <a href="#" class="d-flex justify-content-between text-dark">
                        <span>Fashion</span>
                        <span>2</span>
                    </a>
                </section>

                <!-- Trending post -->
                <section class="trending-post mt-3-custom">

                    <h2 class="text-center text-dark py-2-custom">Trending Post</h2>

                    <!-- post-items -->
                    <div class="post-item py-1-custom">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="./assets/img1.jpg" class=" h-[120px] w-[120px] object-cover rounded-full px-1-custom" alt="">
                                </a>
                                <div class="cart-body">
                                    <div class="trending-category">
                                        <a href="#" class="link text-primary">
                                            Fashion
                                        </a>
                                    </div>
                                    <a href="#" class="text-title display-2 text-dark">
                                        Looking for some feedback for this rejected track technology
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span>
                                            <i class="far fa-clock text-primary"></i>
                                             Clock Wed 02, 2019
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                       <!-- post-items -->
                       <div class="post-item py-1-custom">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="./assets/img2.jpg" class="rounded-custom px-1-custom" alt="">
                                </a>
                                <div class="cart-body">
                                    <div class="trending-category">
                                        <a href="#" class="link text-primary">
                                            Fashion
                                        </a>
                                    </div>
                                    <a href="#" class="text-title display-2 text-dark">
                                        Looking for some feedback for this rejected track technology
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span>
                                            <i class="far fa-clock text-primary"></i>
                                             Clock Wed 02, 2019
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                        </div>

                           <!-- post-items -->
                    <div class="post-item py-1-custom">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="./assets/img3.jpg" class="rounded-custom px-1-custom" alt="">
                                </a>
                                <div class="cart-body">
                                    <div class="trending-category">
                                        <a href="#" class="link text-primary">
                                            Fashion
                                        </a>
                                    </div>
                                    <a href="#" class="text-title display-2 text-dark">
                                        Looking for some feedback for this rejected track technology
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span>
                                            <i class="far fa-clock text-primary"></i>
                                             Clock Wed 02, 2019
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                       <!-- post-items -->
                       <div class="post-item py-1-custom">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="./assets/img4.jpg" class="rounded-custom px-1-custom" alt="">
                                </a>
                                <div class="cart-body">
                                    <div class="trending-category">
                                        <a href="#" class="link text-primary">
                                            Fashion
                                        </a>
                                    </div>
                                    <a href="#" class="text-title display-2 text-dark">
                                        Looking for some feedback for this rejected track technology
                                    </a>
                                    <p class="secondary-title text-secondary display-3">
                                        <span>
                                            <i class="far fa-clock text-primary"></i>
                                             Clock Wed 02, 2019
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                </section>

            </aside>
        </div>
    </div>


</section>
<!-- .Post Content -->

  <!-- Swiper slider -->
  <app-slider></app-slider>
  <!-- end liider -->
  </main>
} @else {
  <p>Đang tải...</p>
}

