<!-- Header -->
<header id="header" class="shadow bg-light sticky">
  <nav class="container navbar">
      <a routerLink="home" class="nav-brand text-dark">
           Gridy
       </a>

       <!-- toggle button -->
       <button class="toggle-button">
           <span><i class="fas fa-bars"></i></span>
       </button>

       <!-- collapse on toggle button click -->
       <div class="collapse2">
           <ul class="navbar-nav">
               <a routerLink="/home" class="nav-link">Home</a>
               <a routerLink="/blog" class="nav-link">Blog</a>
               <a routerLink="/about" class="nav-link">About</a>
               <a routerLink="/contact" class="nav-link">Contact</a>
           </ul>
       </div>

         <!-- collapse on toggle button click -->
         <div class="collapse2">
             <ul class="navbar-nav">
                   <div class="search-box">
                       <a href="#" class="nav-link"><i class="fas fa-search"></i></a>
                   </div>
                   <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                   <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                   @if (currentUser$ | async; as currentUser) {
                    <a (click)="logout()" class="nav-link cursor-pointer">
                      <i class="fas fa-sign-out-alt me-1"></i>
                      <span class=" text-black font-bold text-sm p-1">
                        Logout
                      </span>
                    </a>
                    <a routerLink="/profile" class="nav-link cursor-pointer">
                      <img  [src]="currentUser.image ? currentUser.image : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEN1SWJJdiLEsPUVhGZvXACSoH7WPWWxijuw&s' " alt="" class="object-cover inline-block h-8 w-8 rounded-full">
                    </a>
                  } @else {
                    <a routerLink="/login" class="nav-link">
                      <span class="bg-black text-white font-bold text-sm p-1">
                        LOGIN
                      </span>
                    </a>
                  }
             </ul>
         </div>
  </nav>
</header>
<!-- .Header -->
