<div class="text-end my-2">
  <a routerLink="/expense-form" routerLinkActive="router-link-active"  class="btn btn-primary" >Add Expense</a>
</div>
<div class="table-responsive" >
  <table class="table align-middle table-bordered" (mousedown)="preventDefault($event)" >
    <thead class="table-active" >
      <tr>
        <th scope="col" class="w5 text-center">STT</th>
        <th scope="col" class="">Title</th>
        <th scope="col" class="">Description</th>
        <th scope="col" class="w-7 text-center">Price</th>
        <th scope="col" class="w-7 text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      @for(expense of expenses; track $index;){
          <tr> 
              <td class="text-center">{{$index + 1}}</td>
              <td>{{expense.title}}</td>
              <td class="">{{expense.description}}</td>
              <td class="text-center">${{expense.price}}</td>
              <td class="text-center">
                  <a class="btn btn-success me-1"
                  (click)="editExpense(expense.key!)"
                  ><i class="fa-solid fa-pen-to-square"></i></a>
                  <a class="btn btn-danger ms-1"
                  (click)="removeExpense(expense.key!)"
                  ><i class="fa-solid fa-trash"></i></a>
              </td>
          </tr>
      }


    </tbody>
  </table>
</div>

