<!-- <input type="file" multiple (change)="onFileSelected($event)">
    <button (click)="uploadFiles()">Upload</button>
    <ul>
      <li *ngFor="let item of items">
        <ng-container [ngSwitch]="item.type">
          <ng-container *ngSwitchCase="'folder'">
            📁 {{ item.name }}
          </ng-container>
          <ng-container *ngSwitchCase="'file'">
            📄 {{ item.name }}
            <a *ngIf="item.downloadURL" [href]="item.downloadURL" target="_blank">Download</a>
          </ng-container>
        </ng-container>
      </li>
    </ul> -->
