<app-breadcrumb [title]="breadcrumbTitle"></app-breadcrumb>
<form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="p-2 w-full grid grid-cols-1 lg:grid-cols-[3fr,1fr] gap-x-4">
    <div class="mb-3 card">
      <div class="card-header flex justify-between align-items-center items-center px-4">
        <p class="font-semibold">
          THÔNG TIN CHUNG
        </p>
      </div>
      <div class="card-body">
        <div class="mb-5">
          <label for="title" class="mb-2">Tiêu đề <span class="text-red-500 italic">(*)</span></label>
          <input type="text" name="title" class="form-control" formControlName="title">
          <span class="text-red-600 italic text-sm"
            *ngIf="productForm.get('title')?.hasError('required') && productForm.get('title')?.touched">
            Tiêu đề không được bỏ trống!
          </span>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-2">Tiêu đề ngắn <span class="text-red-500 italic">(*)</span></label>
          <input type="text" name="shortTitle" class="form-control" formControlName="shortTitle">
          <span class="text-red-600 italic text-sm"
            *ngIf="productForm.get('shortTitle')?.hasError('required') && productForm.get('shortTitle')?.touched">
            Tiêu đề không được bỏ trống!
          </span>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-2">Tiêu đề ngắn mobile<span class="text-red-500 italic">(*)</span></label>
          <angular-editor name="shortTitleMobile" [placeholder]="'Enter text here...'" [config]="editorConfigShortTitleMobile"
             formControlName="shortTitleMobile"></angular-editor>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-2">Mô tả <span class="text-red-500 italic">(*)</span></label>
          <angular-editor name="description" [placeholder]="'Enter text here...'" [config]="editorConfigDescription"
             formControlName="description"></angular-editor>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-2">Phạm vi bảo hiểm<span class="text-red-500 italic">(*)</span></label>
          <angular-editor name="coverage" [placeholder]="'Enter text here...'" [config]="editorConfigCoverage"
            formControlName="coverage"></angular-editor>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-2">Quyền lợi bảo hiểm <span class="text-red-500 italic">(*)</span></label>
          <angular-editor name="interest" [placeholder]="'Enter text here...'" [config]="editorConfigInterest"
           formControlName="interest"></angular-editor>
        </div>
      </div>
    </div>
    <div class="mb-3 card">
      <div class="card-header flex justify-between align-items-center items-center px-4">
        <p class="font-semibold">
          CẤU HÌNH CHUNG
        </p>
      </div>
      <div class="card-body">
        <div class="mb-5">
          <label for="title" class="pb-2">Trạng thái</label>
          <select name="" id="" class="form-control" formControlName="publish">
            <option [ngValue]="true">Xuất bản</option>
            <option [ngValue]="false">Ngưng xuất bản</option>
          </select>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-4">Ảnh nền<span class="text-red-500 italic">(*)</span></label>
          <div class="border rounded-none border-gray-300 w-full">
            <app-image-upload [imageUrl]="productForm.get('image')?.value"
            (imageUrlChange)="onImageUrlChange('image', $event)">
          </app-image-upload>
          </div>
        </div>
        <div class="mb-5">
          <label for="title" class="mb-4">Icon<span class="text-red-500 italic text-xs">(*)Vui lòng chọn 2 Icon trước và sau</span></label>
          <div class="border rounded-none border-gray-300 w-full flex justify-between">
            <app-image-upload  [imageUrl]="productForm.get('icon')?.value"
            (imageUrlChange)="onImageUrlChange('icon', $event)">
          </app-image-upload>
            <app-image-upload  [imageUrl]="productForm.get('icon2')?.value"
            (imageUrlChange)="onImageUrlChange('icon2', $event)">
          </app-image-upload>
          </div>

        </div>
        <div class="mb-5">
          <label for="title" class="mb-4">Ảnh gif<span class="text-red-500 italic">(*)</span></label>
          <div class="border rounded-none border-gray-300 w-full">
            <app-image-upload [imageUrl]="productForm.get('gif')?.value"
            (imageUrlChange)="onImageUrlChange('gif', $event)">
          </app-image-upload>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="fixed bottom-2 right-5">
    <button type="submit" class="btn btn-success">Lưu lại</button>
  </div>
</form>
