
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$AngularProject-primary: mat.define-palette(mat.$indigo-palette);
$AngularProject-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$AngularProject-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$AngularProject-theme: mat.define-light-theme((
  color: (
    primary: $AngularProject-primary,
    accent: $AngularProject-accent,
    warn: $AngularProject-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($AngularProject-theme);
@import 'ngx-toastr/toastr';
@import '../node_modules/@syncfusion/ej2-material-theme/styles/material.css';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css';



:root{
  --light : #f8f9fa;
  --secondary: #adb5bd;
  --dark: #343a40;
  --primary-color: #f15bb5;
  --secondary-color: #2ec4b6;
  --border : #e9ecef;
}

.mat-drawer-inner-container::-webkit-scrollbar {
  display: none;

}


// end bootstrap
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

  .button {
    @apply px-5 py-2 inline-block text-lg font-bold border-2 duration-200 transition-colors ease-in-out;
  }

  [data-theme="blue"] .button--secondary {
    @apply bg-red-500 border-red-500 text-white hover:bg-white hover:text-red-500;
  }

  [data-theme="purple"] .button--secondary {
    @apply bg-orange-500 border-orange-500 text-purple-600 hover:bg-white hover:text-purple-600 hover:border-purple-600;
  }

  [data-theme="teal"] .button--secondary {
    @apply bg-pink-500 border-pink-500 text-white hover:bg-white hover:text-pink-500;
  }

  .fancy-corners {
    position: relative;
    background-color: #fff;
    transform-style: preserve-3d;
  }

  .fancy-corners:after,
  .fancy-corners:before {
    position: absolute;
    width: 8em;
    height: 8em;
    background-size: 100% 100%;
    background-position: 0 0;
    transform: translateZ(-1px);
    z-index: -1;
    @apply bg-purple-500;
  }

  [data-theme="blue"] .fancy-corners:after,
  [data-theme="blue"] .fancy-corners:before {
    @apply bg-blue-500;
  }

  [data-theme="teal"] .fancy-corners:after,
  [data-theme="teal"] .fancy-corners:before {
    @apply bg-teal-500;
  }

  .fancy-corners[class*="--bottom"]:after,
  .fancy-corners[class*="--top"]:before {
    content: "";
  }

  .fancy-corners--large[class*="--top"]:before {
    top: -2.05882em;
  }

  .fancy-corners--large[class*="--bottom"]:after {
    bottom: -2.05882em;
  }

  .fancy-corners--large[class*="--bottom"][class*="--bottom-right"]:after {
    right: -2.05882em;
  }

  .fancy-corners[class*="--bottom"]:after {
    bottom: -1.17647em;
  }

  .fancy-corners[class*="--bottom"][class*="--bottom-right"]:after {
    right: -1.17647em;
  }

  .fancy-corners[class*="--top"]:before {
    top: -1.17647em;
  }

  .fancy-corners[class*="--top"][class*="--top-left"]:before {
    left: -1.17647em;
  }

  .fancy-corners--top-left:before {
    -webkit-mask-image: linear-gradient(-45deg, #fff 85.5%, transparent 0);
    mask-image: linear-gradient(-45deg, #fff 85.5%, transparent 0);
  }

  .fancy-corners--bottom-right:after {
    -webkit-mask-image: linear-gradient(-45deg, transparent 14.5%, #fff 0);
    mask-image: linear-gradient(-45deg, transparent 14.5%, #fff 0);
  }

  @screen lg {
    .fancy-corners--large:after,
    .fancy-corners--large:before {
      width: 14em;
      height: 14em;
    }

    .fancy-corners--large[class*="--top"][class*="--top-left"]:before {
      left: -2.05882em;
    }

    .fancy-corners--large[class*="--top"]:before {
      top: -2.05882em;
    }

    .fancy-corners--large[class*="--bottom"]:after {
      bottom: -2.05882em;
    }

    .fancy-corners--large[class*="--bottom"][class*="--bottom-right"]:after {
      right: -2.05882em;
    }
  }
}

@layer utilities {

    .flex-basis-10 {
      flex-basis: 10%;
    }
    .flex-basis-20 {
      flex-basis: 20%;
    }
    .flex-basis-30 {
      flex-basis: 30%;
    }
    .flex-basis-40 {
      flex-basis: 40%;
    }
    .flex-basis-50 {
      flex-basis: 50%;
    }
    .flex-basis-60 {
      flex-basis: 60%;
    }
    .flex-basis-70 {
      flex-basis: 70%;
    }
    .flex-basis-80 {
      flex-basis: 80%;
    }
    .flex-basis-90 {
      flex-basis: 90%;
    }
    .flex-basis-100 {
      flex-basis: 100%;
    }

}
